/* General section */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 1200px;
    margin: 0px auto;
    padding: 0px 20px;
}

.col {
    padding: 10px 20px;
}

.td-n {
    text-decoration: none;
}

.tc-w {
    color: white;
}

.tc-g {
    color: #6f7070;
}

.ls-n {
    list-style: none;
}

.d-ib {
    display: inline-block;
}

.pis-0 {
    padding-inline-start: 0px;
}

.underline-class {
    position: relative;
    font-size: 20px;
}

.underline-class::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100px;
    top: 35px;
    left: 0px;
    background-color: #3a9ac8;
}

.arrow {
    border: solid #6f7070;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    margin-right: 10px;
}

/* Specific section */


/* Above of contact us section */
.above-contact-us-section {
    background-color: #3a9ac8;
}

.contact-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.query {
    font-size: 25px;
}

.col-row {
    padding: 15px;
}

.soln {
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px 25px;
    font-weight: 700;
}

.contact-us-button {
    font-size: 18px;
}



/* contact us section */
.contact-us-section {
    background-color: #242424;
}

.contact-us-section-row {
    padding: 15px 0px;
    display: flex;
    flex-wrap: wrap;
}

.row-in-nav-left {
    padding-right: 15px;
}

.row-in-nav-right {
    padding-left: 15px;
}

.box-for-li {
    margin: 10px 0px;
    font-size: 17px;
    display: flex;
    align-items: center;
}

.first-col,
.second-col {
    width: 30%;
}


.third-col {
    width: 40%;
}

.nav-col-row {
    display: flex;
    flex-wrap: wrap;
}

.icon-value-container {
    display: flex;
    align-items: center;
    padding-right: 45px;
    margin: 5px 0px;
}

.icon-value-container .fa {
    padding: 5px;
    font-size: 25px;
    margin-block: 0px;
}

.col-icon {
    padding: 5px;
    padding-left: 0px;
}

.col-icon,
.col-value {
    margin-right: 5px;
}

.icon i {
    text-align: left;
    padding-left: 0px;
}


.value p {
    margin-block: 0px;
}

.contact-info-row .underline-class::after {
    width: 190px;
}

/* third part of the middle section */
.input {
    display: inline-block;
    border-radius: 5px;
    margin: 15px 0px;
    background-color: #353535;
}

.send-email {
    font-family: FontAwesome, Arial;
    font-style: normal;
    padding: 13px 25px;
    background: no-repeat;
    border: none;
    font-size: 20px;
}

.suscribe {
    display: inline-block;
    background-color: #3a9ac8;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
}

.connect {
    display: flex;
    flex-wrap: wrap;
}

.connect .col {
    padding-left: 0px;
    padding-right: 10px;
}

.connect .writing p {
    font-size: 20px;
    padding-right: 10px;
}

.social-media-icons {
    padding: 10px;
}

.fa {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

/* copyright-section */
.copyright-section {
    background-color: #242424;
    border-top: 2px solid #6f7070;
    padding: 15px 0px;
}

.copyright-row p {
    text-align: center;
    padding: 10px;
    font-size: 20px;
    margin-block: 0px;
}



/* Media Queries Section */

@media(max-width: 1200px) {
    .container {
        width: 100%;
    }

    .send-email {
        padding: 13px 5px;
        font-size: 15px;
    }

    .fa {
        font-size: 15px;
        width: 30px;
        padding: 7px;
    }

    .social-media-icons {
        padding: 5px;
    }

    .connect .col {
        padding-right: 5px;
    }

    .connect .writing p {
        font-size: 15px;
    }

    .suscribe {
        padding: 11px;
    }

    .row-in-nav-right {
        padding-left: 0px;
    }

}

@media(max-width: 992px) {
    .query {
        font-size: 20px;
    }

    .contact-us-button {
        font-size: 15px;
    }

    .soln {
        padding: 10px 15px;
    }

    .col-row {
        padding: 15px 20px;
    }

    .copyright-row p {
        font-size: 15px;
    }

    .first-col,
    .second-col,
    .third-col {
        width: 100%;
        padding: 5px 220px;
    }

    .row-in-nav-right {
        padding-left: 15px;
    }

    .fa {
        font-size: 20px;
        width: 40px;
        padding: 10px;
    }

    .connect .col {
        padding: 0;
    }

    .connect .writing p {
        font-size: 17px;
    }

    .social-media-icons {
        padding: 0;
    }
}

@media(max-width:767px) {
    .contact-row {
        display: block;
    }

    .col-row {
        padding: 15px 0px;
    }

    .soln {
        width: 125px;
    }

    .contact-row .col {
        padding: 5px;
    }

    .first-col,
    .second-col,
    .third-col {
        padding: 5px 100px;
    }

    .send-email {
        font-size: 13px;
    }

    .connect {
        display: block;
    }
}

@media(max-width:567px) {
    .query {
        font-size: 15px;
    }

    .soln {
        width: 125px;
    }

    .contact-us-button {
        font-size: 12px;
    }

    .first-col,
    .second-col,
    .third-col {
        padding: 5px 35px;
    }

    .suscribe {
        padding: 12px;
        font-size: 12px;
    }

    .copyright-row p {
        font-size: 12px;
    }
}